# General
Screen {
    align: center middle;
}



# Location Widget
Location {
    width: 44;
    height: 12;
    
    content-align: center middle;
    
    padding: 1 2;
    
    background: $panel;
    
    border: $secondary tall;
    
    color: $text;
}

#title {
    text-align: center;
    text-style: bold;
    width: 100%;
    margin-bottom: 1;
}